@font-face {
    font-family: iranYekan;
    src: url(../assets/fonts/iranyekanwebregular\(fanum\).ttf);
}
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    direction: rtl;
    text-align: center;
    padding: 1rem 0;
    background-color: #eee;
    color: #333;
    font-family: iranYekan;
}

.title{
    background-color: #ffd000;
    padding: .5rem;
    margin: 0 1rem;
    border-radius: .5rem;
    font-size: 1.3rem;
}

#errors{
    background-color: #ff2f00;
    padding: .5rem 3rem;
    border-radius: 0 0 .5rem .5rem;
    display: inline-block;
    color: #eee;
    font-size: 1rem;
}